
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>EKPKD</title>

  <!-- tes -->
  <!-- Bootstrap core CSS -->
  <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../../../assets/css/fontawesome.css">
  <link rel="stylesheet" href="../../../assets/css/custom.css">
  <script src="../../../vendor/chart/chart.min.js"></script>
</head>

<body>
    <!-- https://colorhunt.co/palette/fcf8ecd0e8f279a3b1456268 -->

    
    <div class="container">
        <div>
<div class="row">
    <div class="col-md-2">
        <nav class="nav flex-column nvl">
            <a class="nav-link" href="#">Nasional</a>
            <a class="nav-link active" href="#" aria-current="page"><b>Klaster A</b></a>
            <a class="nav-link" href="#">Klaster B</a>
            <a class="nav-link" href="#">Klaster C</a>
        </nav>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered border-light" style="background-color: rgb(217, 227, 235);margin-top:50px;">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Provinsi</th>
                        <th scope="col">Status Kinerja</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Aceh</td>
                            <td>Sedang</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Sumatera Barat</td>
                            <td>Sedang</td>
                          </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Sumatera Selatan</td>
                            <td>Sedang</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Sumatera Utara</td>
                            <td>Sangat Baik</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Riau</td>
                            <td>Sangat Baik</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Kep. Riau</td>
                            <td>Sangat Baik</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Banten</td>
                            <td>Baik</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>DKI Jakarta</td>
                            <td>Sedang</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Jawa Barat</td>
                            <td>Sedang</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Jawa Tengah</td>
                            <td>Baik</td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>Jawa Timur</td>
                            <td>Sangat Baik</td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>Yogyakarta</td>
                            <td>Sangat Baik</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered border-light" style="background-color: rgb(212, 223, 231);margin-top:50px;">
                    <thead>
                      <tr>
                        <th scope="col">Status Kinerja</th>
                        <th scope="col">Frekuensi (Provinsi)</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sangat Baik</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Baik</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Sedang</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Buruk</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Sangat Buruk</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <h4>Status Kinerja</h4>
                    <div>
                        <canvas class="chart" id="chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script>
const ctx = document.getElementById('chart').getContext('2d');
const labels = ['Sangat Buruk', 'Buruk','Sedang','Baik','Sangat Baik'];
const datasets = [{
    label : 'Status Kinerja',
    data : [0,0,5,2,5],
    backgroundColor:[
        'rgba(54, 162, 235, 0.2)',
    ],
    borderColor:[
        'rgba(54, 162, 235, 1)'
    ],
    borderWidth:1,
    indexAxis : 'y'
}];
const data = {
    labels : labels,
    datasets : datasets
}
const options = {
    responsive:true
};
const config = {
    type:'bar',
    data:data,
    options:options
}
let myChart = new Chart(ctx,config);
</script>

</div>
        <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="../../../vendor/jquery/jquery.min.js"></script>
    <script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
