.logo img{
    height: 90px;
    cursor: pointer;
}
.content{
    margin-top: 20px;
    min-height: 600px;
}
.container{
    font-size: 11pt;
}
.bold{
    font-weight: bold;
    padding-left: 10px;
}
.alpha{
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}
nav > a
{
    color: black;
    margin: 2px 0;
    text-decoration: none;
    cursor: pointer;
}
nav > a:hover{
    background-color: rgb(208, 232, 242);
}
a:visited, a:hover,a:active, a:hover, a:link{
    color: black;
    text-decoration: none;
    background-color: transparent;
}

nav > a.active{
    background-color: rgb(121, 163, 177);
    font-weight: bold;
}
.border-right{
    border-right: 1px solid rgb(69, 98, 104);
}
.ent{
    margin: 10px 0;
}
.ent img{
    cursor: pointer;
}
.x{
    background-color: rgba(255, 158, 158, 0.692);
}
.v{
    background-color: rgba(208, 232, 242, 0.712);
}
.color-s{
    width: fit-content;
    margin-right: 30px;
}
.color-s span{
    overflow: hidden;
    font-size: 15pt;
    margin-right: 5px;
}
canvas {
    width: 100% !important;
}
.peringkat{
    margin-bottom: 30px;
}
.nvl{
    margin-top: 60px;
}
.chart-box{
    margin-top: 20px;
}
.rekomendasi{
    width: 100%;
    padding: 30px 10px 10px;
}