
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>EKPKD</title>

  <!-- tes -->
  <!-- Bootstrap core CSS -->
  <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../../../assets/css/fontawesome.css">
  <link rel="stylesheet" href="../../../assets/css/custom.css">
  <script src="../../../vendor/chart/chart.min.js"></script>
</head>

<body>
  <!--header-->
  <!-- https://colorhunt.co/palette/fcf8ecd0e8f279a3b1456268 -->

    <div class="container">
            <div>
    <div class="row">
        <div class="col-md-4">Data / Input / <strong>IKK Outcome</strong></div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <form>
            <div class="row">
                <div class="col-md-4">
                    Pilih Provinsi :
                </div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect01">
                          <option selected>Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Unggah Dokumen :
                </div>
                <div class="col-md-8" style="position: relative">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                      </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <table class="table  table-bordered border-light" style="background-color: rgb(208, 232, 242);margin-top:50px;">
        <thead>
          <tr style="background-color: rgb(69, 98, 104);color:rgb(252, 248, 236);">
            <th scope="col">Urusan</th>
            <th scope="col">ID IKK</th>
            <th scope="col">IKK Outcome</th>
            <th scope="col">Tanda (F/UF)</th>
            <th scope="col">Satuan</th>
            <th scope="col">Nilai</th>
            <th scope="col">Verifikasi APIP</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pendidikan</td>
                <td>OP001</td>
                <td>Tingkat partisipasi warga negara usia 16-18 tahun yang berpartisipasi dalam pendidikan menengah</td>
                <td>F</td>
                <td>%</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Pendidikan</td>
                <td>OP001</td>
                <td>Tingkat partisipasi warga negara usia 16-18 tahun yang berpartisipasi dalam pendidikan menengah</td>
                <td>F</td>
                <td>%</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Pendidikan</td>
                <td>OP001</td>
                <td>Tingkat partisipasi warga negara usia 16-18 tahun yang berpartisipasi dalam pendidikan menengah</td>
                <td>F</td>
                <td>%</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
      </table>
</div>
    </div>


      <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="../../../vendor/jquery/jquery.min.js"></script>
  <script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
